<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="nav" class="hidden" />
      <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
      <div class="nav-container">
        <a href="/"><img src="/img/ICON.png" alt="" /></a>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/cadastro/">CADASTRAR</a></li>
          <li><a href="/#cards">POKEMON</a></li>
          <li><a href="/curiosidade">CURIOSIDADE</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <section class="cards">
        <h1>Pokédex</h1>
        <% pokedex.forEach((pokemon) =>{ %>
        <div class="card">
          <a class="card2" href="/detalhes/<%= pokedex.indexOf(pokemon) %>">
            <img src="<%= pokemon.imagem %>" alt="pokemon" />
            <h3><%= pokemon.nome %></h3>
            <h2>Tipo: <%= pokemon.tipo %></h2>

            <a id="editar" href="/cadastro/<%= pokemon.id %>">Editar</a>
            <a id="deletar" href="/deletar/<%= pokedex.indexOf(pokemon) %>"
              >Deletar</a
            >
          </a>
        </div>
        <% }) %>
      </section>
    </main>
    <div class="rodape">
      <footer>
        <a
          href="https://www.linkedin.com/in/kellbber-barcarolo-71a848230/"
          target="_blank"
          >Kellber Barcolo</a
        >
        <a href="https://www.linkedin.com/in/monicashdias/" target="_blank"
          >Monica Dias</a
        >
        <p>Todos os direitos reservados &copy;</p>
      </footer>
    </div>
  </body>
</html>
