<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="nav" class="hidden" />
      <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
      <div class="nav-container">
        <a href="/"><img src="/img/ICON.png" alt="" /></a>
        <ul>
          <li><a href="/detalhes/">CADASTRAR</a></li>
          <li><a href="/#cards">POKEMON</a></li>
          <li><a href="/curiosidade">CURIOSIDADE</a></li>
          
        </ul>
      </div>
    </nav>

    <main>
      <section id="cards">
        <h1>Pokédex</h1>
        <% pokedex.forEach((pokemon) =>{ %>
        <div class="card">
          <img src="<%= pokemon.imagem %>" alt="pokemon" />
          <h3><%= pokemon.nome %></h3>
          <div>
            <p class="descricao">DESCRIÇÃO: <%= pokemon.descricao %></p>
          </div>
          <div>
            <p>TIPO: <%= pokemon.tipo %></p>
          </div>
          <div>
            <p>ALTURA: <%= pokemon.altura %></p>
          </div>
          <div>
            <p>PESO: <%= pokemon.peso %></p>
          </div>
          <div>
            <p>CATEGORIA: <%= pokemon.categoria %></p>
          </div>
          <div>
            <p>HABILIDADE: <%= pokemon.habilidade %></p>
          </div>
          <div>
            <p>FRAQUEZAS: <%= pokemon.fraquezas %></p>
          </div>
          <a id="editar" href="/detalhes/<%= pokemon.id %>">Editar</a>
          <a id="deletar" href="/deletar/<%= pokedex.indexOf(pokemon) %>"
            >Deletar</a
          >
        </div>
        <% }) %>
      </section>
    </main>
    <footer id="rodape">
      <div id="linkB">
        <a
          class="linkedin"
          href="https://www.linkedin.com/in/kellbber-barcarolo-71a848230/ "
          target="_blank"
        >
          Kellbber Barcarolo
        </a>
      </div>
      <div id="p">
        <p>- Todos os direitos reservados &copy;</p>
      </div>
    </footer>
  </body>
</html>
